<script type='text/javascript'>
  $(function() {
    Dashing.widget_base_dimensions = [370, 340]
    Dashing.numColumns = 5
  });
</script>

<% content_for :title do %>
  CircleCI
<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
      <div data-id="circleci" data-view="Circleci"></div>
    </li>
  </ul>
</div>
